{% extends 'base.html.twig' %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            {% for user in users %}
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            {{ user.username }}
                        </div>
                        <div class="card-body">
                            {{ user.points }} points
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th scope="col">{{ "list.head.room" | trans }}</th>
            <th scope="col">{{ "list.head.name" | trans }} </th>
            <th scope="col">{{ "list.head.last_done" | trans }} </th>
            <th scope="col">{{ "list.head.last_done_by" | trans }} </th>
            <th scope="col">{{ "list.head.frequency" | trans }} </th>
            <th scope="col">{{ "list.head.difficulty" | trans }} </th>
            <th scope="col">Next done </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% set current_date = "now" | date("d/m/Y") %}
        {% for task in tasks %}
            <tr>
                <td>
                    <div class="form-check">
                        <a href="{{ path('update_task', { 'task_id': task.id }) }}">
                            <input class="form-check-input" type="checkbox" {% if task.lastDone is not null and task.lastDone | date("d/m/Y") == current_date %} checked {% endif %}>
                        </a>
                    </div>
                </td>
                <th scope="row">{{ task.room.name }}</th>
                <td>{{ task.name }}</td>
                <td>{% if task.lastDone is not null %} {{ task.lastDone | date("d/m/Y") }} {% endif %}</td>
                <td>{% if task.lastDoneBy is not null %} {{ task.lastDoneBy.username }} {% endif %}</td>
                <td>tou·te·s les {{ task.duration }} {{ task.frequency.name }}</td>
                <td>
                    {% for i in 1..task.difficulty %}
                        <i class="bi bi-star-fill"></i>
                    {% endfor %}
                </td>
                <td> {{ task.nextDone | date("d/m/Y") }} </td>
                <td>
                    <a href="{{ path('update_task', { 'task_id': task.id }) }}"><i class="bi bi-pen"></i></a>
                    <a href="{{ path('remove_task', { 'task_id': task.id }) }}"><i class="bi bi-x"></i></a>
                </td>
            </tr>
        {%endfor %}
        </tbody>
    </table>
{% endblock %}
